/* IMPORT CLASSES */ /*************************************************
 MEDIA QUERY DEFINITIONS
*************************************************/
/*************************************************
 GLOBAL STYLES
*************************************************/
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.fade-down {
  position: relative;
  opacity: 0;
  top: -5em;
  -webkit-transition: all 1200ms linear;
  -o-transition: all 1200ms linear;
  transition: all 1200ms linear;
}
.fade-down.show {
  top: 0;
  opacity: 1;
}

.fade-up {
  position: relative;
  opacity: 0;
  bottom: -5em;
  -webkit-transition: all 1200ms linear;
  -o-transition: all 1200ms linear;
  transition: all 1200ms linear;
}
.fade-up.show {
  bottom: 0;
  opacity: 1;
}

.fade-left {
  position: relative;
  right: -5em;
  opacity: 0;
  -webkit-transition: all 1200ms linear;
  -o-transition: all 1200ms linear;
  transition: all 1200ms linear;
}
.fade-left.show {
  right: 0;
  opacity: 1;
}

.fade-right {
  position: relative;
  left: -5em;
  opacity: 0;
  -webkit-transition: all 1200ms linear;
  -o-transition: all 1200ms linear;
  transition: all 1200ms linear;
}
.fade-right.show {
  left: 0;
  opacity: 1;
}

html {
  width: 100%;
  height: 100%;
  display: none;
}
html.ready {
  display: block;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #FFF7F4;
}
body.fixed {
  overflow: hidden;
}

#main {
  position: relative;
  overflow-x: hidden;
}

h1, .h1 {
  font-size: 10rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1em;
}

h2, .h2 {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.4em;
}

h3, .h3 {
  font-weight: 700;
  font-size: 6vw;
  line-height: 1.4em;
  margin: 3% 0;
}
@media (max-width: 500px) {
  h3, .h3 {
    font-size: 8vw;
  }
}

h4, .h4 {
  font-weight: 700;
  font-size: 2.1rem;
  text-transform: uppercase;
  line-height: 1.6em;
}

h5, .h5 {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 1.4em;
}

h6, .h6 {
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: uppercase;
  line-height: 1.6em;
}

p {
  font-size: 1.5vw;
  line-height: 1.7em;
  font-weight: 400;
  line-height: 1;
}
@media (max-width: 500px) {
  p {
    font-size: 3vw;
  }
}

/* FOOTER */
.footer {
  text-align: center;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  margin: auto;
  width: 100%;
  left: 0;
  bottom: 0;
  color: #000000;
  font-family: "Archivo", cursive;
}

/* END OF FOOTER */
/*************************************************
 CSS RESERT - ERIC MEYER'S v2.0
*************************************************/
input, input:focus, :focus {
  outline: 0;
}

img {
  -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none; /* From IE10 only */
  user-select: none; /* Not valid CSS yet, as of July 2012 */
  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
  vertical-align: middle;
}

/* IMPORT FONTS */
.homepage-container {
  height: 100vh;
}
.homepage-container .wrapper {
  width: 90%;
  margin: 0 auto;
  height: auto;
}
.homepage-container .wrapper .headline-intro-container {
  margin-top: 3%;
}
.homepage-container .wrapper .headline-intro-container .headline-intro {
  font-size: 5vw;
  color: #000000;
  text-transform: uppercase;
  font-family: "Archivo", cursive;
}
.homepage-container .wrapper .headline-intro-container .headline-intro.animate__animated.animate__fadeIn {
  --animate-duration: 5s;
}
@media (max-width: 500px) {
  .homepage-container .wrapper .headline-intro-container .headline-intro {
    font-size: 15vw;
  }
}
.homepage-container .link-container {
  display: flex;
  column-gap: 3%;
  margin-top: calc(100vh - 55% - (5vw - 3% - 6vw - 3% - 7%));
}
@media (max-width: 500px) {
  .homepage-container .link-container {
    flex-direction: column;
    margin-top: calc(100vh - 150% - (8vw - 3% - 3vw - 3% - 7% - 2em));
    row-gap: 2em;
  }
}
.homepage-container .link-container a {
  width: 50%;
  height: auto;
  background-color: #D6F9B5;
  border-radius: 30px;
}
@media (max-width: 500px) {
  .homepage-container .link-container a {
    width: 100%;
  }
  .homepage-container .link-container a:hover {
    width: 100% !important;
  }
}
.homepage-container .link-container a.animate__animated.animate__fadeIn {
  --animate-duration: 10s;
}
.homepage-container .link-container a:hover {
  width: 53%;
  height: auto;
  cursor: pointer;
}
.homepage-container .link-container a .single-link-container .single-link-content {
  padding: 7%;
  display: flex;
  flex-direction: column;
}
.homepage-container .link-container a .single-link-container .single-link-content p {
  max-width: 90%;
}
.homepage-container .link-container a:last-child {
  background-color: #F6D3F1;
}
.homepage-container .link-container a:last-child.animate__animated.animate__fadeIn {
  --animate-duration: 25s;
}/*# sourceMappingURL=main.css.map */