.homepage-container {
    .headline-intro {
        font-size: 5vw;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-family: $beba;

        @include tablet {
            font-size: 15vw;
        }
    }
}