.homepage-container {
    height: 100vh;

    .wrapper {
        width: 90%;
        margin: 0 auto;
        height: auto;

        .headline-intro-container {
            margin-top: 3%;

            .headline-intro {
                font-size: 5vw;
                color: $black;
                text-transform: uppercase;
                font-family: $archivo;

                &.animate__animated.animate__fadeIn {
                    --animate-duration: 5s;
                }

                @include small-mobile {
                    font-size: 15vw;
                }
            }
        }
    }

    .link-container {
        display: flex;
        column-gap: 3%;
        margin-top: calc(100vh - (6vw + 3%) - 50vh);
        align-items: center;

        @include small-mobile {
            flex-direction: column;
            margin-top: calc(50vh - (8vw + 3%) - 35vh);
            row-gap: 2em;
        }

        a {
            width: 50%;
            height: 45vh;
            background-color: $light-green;
            border-radius: 30px;

            @include small-mobile {
                width: 100%;
                height: 30vh;

                &:hover {
                    width: 100% !important;
                    height: 30vh !important;
                }
            }

            &.animate__animated.animate__fadeIn {
                --animate-duration: 10s;
            }

            &:hover {
                width: 53%;
                height: auto;
                cursor: pointer;
            }

            .single-link-container {
                .single-link-content {
                    padding: 7%;
                    display: flex;
                    flex-direction: column;

                    p {
                        max-width: 90%;
                    }
                }
                
            }

            &:last-child {
                background-color: $light-pink;

                &.animate__animated.animate__fadeIn {
                    --animate-duration: 25s;
                }
            }
        }
    }
}