.homepage-container {
    .headline-intro {
        font-size: 5vw;
        text-align: center;
        color: $black;
        text-transform: uppercase;
        font-family: $archivo;

        &.animate__animated.animate__fadeIn {
            --animate-duration: 5s;
        }

        @include tablet {
            font-size: 15vw;
        }
    }
}